.mat-toolbar {
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
}

mat-form-field {
    padding: 5px;
}

mat-hint {
    color: red;
}
// .mat-toolbar{
//     margin: -24px;
//     margin: bottom 10px;
//     width: auto;
// }

// mat-form-fild{
//     padding:5px;
// }